<div class="row">
  <div class="col-md-6">
    <canvas id="myCanvas" width="500" height="500" style="border:1px solid #d3d3d3;">
    </canvas>
    <h3 *ngIf="showLegend" style="margin-top: 30px">Un cube rouge = 100L de peinture</h3>

  </div>
  <div class="col-md-6">
    <ul>
      <li>
        <h1 style="margin-left: 50px; font-family: 'Anton', sans-serif; color: #334854">{{paintLiters | number}} HectoLitres de peinture</h1>
      </li>
      <!--<li *ngIf="stoneKg > 0" >
        <h1 style="margin-left: 50px; font-family: 'Anton', sans-serif; color: #334854">{{stoneKg}}kg de marbre</h1>
      </li>-->
    </ul>
  </div>


</div>
