@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
html, body, app-root {
  display: block;
  height: 100%;
  overflow-x: hidden;
  background-color: #EFECEA;


}

/**  Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */
