.app-loading {
  .logo {
    width: 100px;
    height: 100px;

    // this way asset gets processed by webpack
    background: url(./assets/img/square_only.png) center no-repeat;
    background-size: contain;
  }
}
