<div class="row">
  <div class="col-md-2 sidebar-wrapper animated slideInLeft delay-1s">
    <app-sidemenu></app-sidemenu>
  </div>
  <div class="col-md-10 maincontent-wrapper">
    <app-maincontent></app-maincontent>
  </div>
</div>


<!-- UTILISER NGXCHARTS pour les graphs -->
