h1 {
  margin-bottom: 50px;
  font-family: 'Anton', sans-serif;
  color: #334854;

}
.graph-wrapper{
  text-align: center;
}

.graph-wrapper ngx-charts-bar-vertical{
  display: block;
  padding: 0 5%;
}
