<div class="sylvain-scale-wrapper" *ngIf="!displayAllSylvains">
  <h3 style=" font-family: 'Anton', sans-serif; color:#334854">Le Sylvain moyen mesure environ:</h3>
  <div class="row" style="margin-left: 50px">
    <div class="col-md-6 row">
      <img class="animated infinite bounce delay-5s" src="../../../assets/img/sylvain_trim.png" height="500px"/>
      <h1 style="margin-top: 50px;  font-family: 'Anton', sans-serif; color:#334854"> {{sylvainHeight}}cm de haut</h1>
    </div>
    <div class="col-md-6">
      <h1 style="margin-top: 50px; font-family: 'Anton', sans-serif; color:#334854"> Ce qui nous donne une surface d'environ {{surface | number:'.2-2'}}m²</h1>
      <h1 style="margin-top: 50px; font-family: 'Anton', sans-serif; color:#334854"> Surface totale des oeuvres: {{artworksSurface | number:'.2-2'}}m²</h1>
      <h1 class="animated heartBeat"
        style="margin-top: 50px;
      text-align: center;
      font-family: 'Anton', sans-serif;
      background-color: #334854; color:white;
      padding: 50px;
      cursor: pointer"
          *ngIf="artworksSurface == artworksSurfaceTotal"
          (click)="displayAllSylvains = true">
        Soit : {{numberOfSylvains | number}} Sylvains
      </h1>
    </div>
  </div>
  <h1 style=" font-family: 'Anton', sans-serif; color:#334854"> {{sylvainWidth}}cm de large</h1>
</div>
<div class="sylvains-list-wrapper" *ngIf="displayAllSylvains">
  <img *ngFor='let item of [].constructor(8400) ;let i = index' src="../../../assets/img/sylvain_trim.png" height="50px"/>
  <br/>
  <button type="button" class="btn btn-warning" style="margin-top: 50px" (click)="displayAllSylvains = false">Retour</button>
</div>
