.sidebar-header{
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  border-bottom: 1px solid white;
  width: 80%;
  margin: 15px auto;
}

.menu-items{
  margin-top: 50px;
}
.menu-item{
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  font-size: xx-large;
  font-family: 'Kaushan Script', sans-serif;
}

.menu-item:hover, .sidebar-header:hover{
  width: 100%;
  background-color: #EFECEA;
  color: #334854;
  cursor: pointer;
}

.menu-item p {
  display: inline;
  vertical-align: middle;
}
