<div class="wrapper animated slideInLeft delay-1s">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header" [routerLink]="['/']">
      <h3>DataVinci</h3>
    </div>

    <ul class="list-unstyled components menu-items">
      <li class="menu-item" [routerLink]="['/graph', 1]">
        <p>La Joconde</p>
      </li>
      <li class="menu-item" [routerLink]="['/graph', 2]">
        <p>Les femmes</p>
      </li>
      <li class="menu-item" [routerLink]="['/materials']">
        <p>Matériaux</p>
      </li>
      <li class="menu-item"  [routerLink]="['/superficie']">
        <p>Superficie</p>
      </li>
      <li style="text-align: center; margin-top: 40%">
        <img src="../../../assets/img/square_only_inverted.png" height="100px"/>

      </li>

    </ul>
  </nav>

</div>
