<div>
  <h1 style="font-family: 'Anton', sans-serif">
    Bienvenue sur
    <span style="
    font-family: 'Kaushan Script', cursive;
    font-size: larger;
">
      DataVinci
    </span>
  </h1>
  <div style="margin-top: 50px">
    <p>Le but de DataVinci est de réaliser des visualisations de données de la base Joconde.</p>
    <p>L'équipe est composée de : </p>
    <img class="animated slideInRight" src="../../../assets/img/joconde.png" style="float: right"/>
    <ul class="list-group list-group-flush custom-list">
      <li class="list-group-item custom-item">Maxime COHEN</li>
      <li class="list-group-item custom-item">Sébastien MARCHAL</li>
      <li class="list-group-item custom-item">François MONTAGNÉ</li>
      <li class="list-group-item custom-item">Tristan PINAUDEAU</li>
      <li class="list-group-item custom-item">Romain VALEYE</li>
    </ul>
  </div>

  <p style="margin-top: 50px">Aujourd'hui DataVinci répertorie <span style="font-family: 'Kaushan Script', cursive; color: #1976D2; font-size: x-large;font-weight: bold">{{nbArt}} oeuvres</span> de la base Joconde.
    <br/>
    Et ça ne fait que commencer.</p>
</div>
